# RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Package build
*.tar.gz
*.Rcheck

# Operating system
.DS_Store
Thumbs.db

# Quarto
.quarto

# Generated vignette files
vignettes/*.html
vignettes/figures/*
man/figures/vignette-*.png
/doc/
/Meta/
docs
