# RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Package build
*.tar.gz
*.Rcheck

# Temporary files
Rplot.pdf
*.bak

# Development folders
backup/
dev/

# Experimental scripts
proov*.R

# Personal project notes
chatgpt - agendid.txt
funktsioonide skeem.xlsx

# Operating system
.DS_Store
Thumbs.db